
//
// VARIABLES
//

// Colors
$blue: #4183C4;

// Grays
$black: #000;
$darkerGray: #091B49;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

@import url(https://fonts.googleapis.com/css?family=EB+Garamond);
@import url(https://fonts.googleapis.com/css?family=Fredericka+the+Great);
@import url(https://fonts.googleapis.com/css?family=Special+Elite);

// Font stacks
$helvetica: 'EB Garamond', serif;
$helveticaNeue: 'EB Garamond', serif;
$fredericka: 'Fredericka the Great', cursive;
$elite: 'Special Elite', cursive;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}