<!DOCTYPE html>
<html lang="en">

  <script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [['$','$'], ['\\(','\\)']],
      processEscapes: true
    }
  });
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>

  {% include head.html %}
  {% include meta.html %}
  {% seo %}

  <body>
    <nav class="nav">
      <div class="nav-container">
        <a href="{{ site.baseurl }}/">
          <h1 class="nav-title">{{ site.title }}</h1><br>
          {{ site.description }}
        </a>
        <ul class="zoom">
          <li><a href="{{ '/' | prepend: site.baseurl }}">{Blog}</a></li>
          <li><a target="_blank" href="https://github.com/abdalimran">{Projects}</a></li>
          <li><a href="{{ '/archive' | prepend: site.baseurl }}">{Archive}</a></li>
          <li><a href="{{ '/about' | prepend: site.baseurl }}">{About}</a></li>
        </ul>
      </div>
    </nav>

    <main>
      {{ content }}
    </main>

  </body>

  {% include footer.html %}
  {% include analytics.html %}

</html>
