---
layout: default
---

<div class="post">
  <div class="post-info">
    <span>Written by</span>
    {% if page.author %}
        {{ page.author }}
    {% else %}
        {{ site.author.name }}
    {% endif %}

    {% if page.date %}
      <br>
      <span>on&nbsp;</span><time datetime="{{ page.date }}">{{ page.date | date: "%B %d, %Y" }}</time>
    {% endif %}

  </div>

  <h1 class="post-title">{{ page.title }}</h1>

  <div class="post-readtime">
    {% capture read_time %}
      {{ page.content | number_of_words | divided_by: 180 }}
    {% endcapture %}

    {% if read_time != '0' %}
      {{ read_time }}
    {% else %}
      1
    {% endif %} min read
  </div>

  <div class="post-line"></div>

  {{ content }}

  <div class="post-line"></div>

  <div class="post-categories">
    {% if post %}
    {% assign categories = post.categories %}
    {% else %}
    {% assign categories = page.categories %}
    {% endif %}
    <!-- <b>Tags: </b> -->
    {% for category in categories %}
    <a href="{{site.baseurl}}/archive/#{{category|slugize}}" style="background-color:#DEE3E2;border-radius:5px;padding:3px">{{category}}</a>
    {% unless forloop.last %}&nbsp;{% endunless %}
    {% endfor %}
  </div>
  
  <!-- {% include share-buttons.html %} -->

  <br>
  {% include disqus.html %}

</div>

<div class="pagination">
  {% if page.next.url %}
    <a href="{{ page.next.url | prepend: site.baseurl }}" class="left arrow">&#8592;</a>
  {% endif %}
  {% if page.previous.url %}
    <a href="{{ page.previous.url | prepend: site.baseurl }}" class="right arrow">&#8594;</a>
  {% endif %}

  <a href="#" class="top">Top</a>
</div>
